@{
    Layout = "~/shared/_Layout.cshtml";
    using (var db = Database.Open("Projectfriends"))
    {
        if (IsPost)
        {
        <!--put the vbls-->
            var vblfullname = Request.Form["fullname"];
            var vblemail = Request.Form["email"];

            if (!(vblemail.IsEmpty()))
            {
                var rsuserexist = db.QuerySingle("select * from signin where regemail=@0", vblemail);

                if (rsuserexist == null)
                {
                <h3 class="text-danger">User does not exist</h3>
                }

                else
                {
                    var vblpassword = rsuserexist.regpass;
                    var vblid = rsuserexist.idreg;
                    var vblcode = Guid.NewGuid().ToString().Trim();

                    int vblidprofile = UrlData[0].AsInt();
                    try
                    {
                        WebMail.From = "admin@mytechnewbies.com";
                        WebMail.Send(
                        to: vblemail,
                        subject: "Reset Password Request",
                        body: "<html><head><style><!--a{text-decoration:none}//--></style></head><font size='2' face='Verdana, Geneva, sans-serif'>"
                            + "<br>Forgot Password Request: " +
                            "<br>Username: " + vblemail +
                            "Please follow the link below to reset your password. This link remians valid for 2 hours since its creating.<br>"+
                            "<br><br><a href='http://www.mytechnewbies.com/passwordreset/" + vblcode + "'>http://www.mytechnewbies.com/passwordreset/" + vblcode + "</a>" +
                            "<br><br><a href='http://www.mytechnewbies.com'>MyTechNewbies</a></font></html>");

                    }
                    catch (Exception ex)
                    {<text>error</text>}

                    var insertfirst = "insert into passreset2 (idregreset,guidcode,validtil) Values(@0, @1,@2)";
                    db.Execute(insertfirst, rsuserexist.idreg, vblcode, DateTime.Now.AddHours(2));

            <h3 class="text-success">Email has been sent</h3>

                }
            }
        }



        Page.Title = "Forgot Password";


            <div class="container">
                <h1 style="color:rebeccapurple;">Forgot Password</h1>
                <form method="post" class="needs-validation form1000" novalidate>

                    <div class="col-md-12">
                        <div class="form-group form450">
                            <label for="form_lastname">Email*</label>
                            <input type="email" name="email" class="form-control" placeholder="Please enter your email*" required>

                        </div>
                    </div>


                    <div class="col-md-12">
                        <input type="submit" class="btn btn-outline-info" value="Submit">
                    </div>

                </form>
                <div class="row mt-3">
                    <div class="col p-4" style="background-color:darkslategray;"></div>
                </div>
            </div>
}
}
